[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/lantianyou/.gitignore_global
[pull]
	rebase = true
[user]
	email = dtlantianyou@gmail.com
	name = lantianyou

[rerere]
	enabled = true
[help]
	autocorrect = 10
[alias]
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
